<section class="contacts">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <%= erb :_contact_tr, layout: false, locals: {contact: contact} %>
      <% end %>
    </tbody>
  </table>
</section>
<a id="create-contact" href="/contacts/new">Create Contact</a>