<article class="contact">
  <header>
    <h1><%= @contact.full_name %></h1>
  </header>
  <section class="details">
    <dl>
      <dt>Email</dt>
      <dd><%= @contact.email %></dd>
      <dt>Phone</dt>
      <dd><%= @contact.phone %></dd>
    </dl>
  </section>
</article>